#board {
    padding-top: 3em;
    text-align: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
}


/* Game cells*/

.row>div {
    float: left;
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row {
    margin: auto;
    height: 100px;
    clear: both;
    width: 302px;
}

.top {
    border-bottom: 1px solid black;
}

.center {
    border-bottom: 1px solid black;
}

.left {
    border-right: 1px solid black
}

.middle {
    border-right: 1px solid black
}

.class {
    cursor: pointer;
}

#reset-button {
    display: none
}